{{#zone "topCss"}}
    <link rel="stylesheet" href="{{self.publicURL}}/less/logo.css">
{{/zone}}

{{#zone "brand"}}
    <img class="{{self.class}}" src="{{self.publicURL}}/img/logo.png" alt="logo"/>
    <span>{{#defineZone "brandName"}} Fuse {{/defineZone}}</span>
{{/zone}}

