{{#zone "topCss"}}
    <link rel="stylesheet" href="{{self.publicURL}}/less/logo.css">
{{/zone}}

{{#zone "brand"}}
    <img src="{{self.publicURL}}/img/logo.png" alt="fuse"/>
    <span>API Publisher</span>
{{/zone}}
