{{layout "org.wso2.uuf.base.main"}}
{{#fillZone "content"}}
    <h2>Welcome to pet store</h2>
    <h4>your new best friend awaits</h4>
    <hr/>
    <a href="pets">See all our amazing pets</a>
    <br/>
    <a href="pets/new">Add a new pets</a>
    <br/>
    <a href="pets/snowball">Pet of the month</a>
{{/fillZone}}