{{secured "helpers/uuf-helpers/secured" "view"}}
In order to view this content, you must have:
<ul>
    <li>A UUF session created.</li>
    <li>An authorizer configured in the 'app.yaml' configuration.</li>
    <li>User must have the specified permission for resource URI
        "helpers/uuf-helpers/secured" and action "view".
    </li>
</ul>