{{layout "org.wso2.uuf.base.main"}}
{{title "Send to Client Sample | " @config.appName}}
{{#fillZone "content"}}
    <h3>Send to Client.</h3>
    <hr />
    <p>You can send a server side Javascript variable into the client side Javascript with this feature.</p>
    <p>Syntax : <code>sendError(status, message);</code></p>
    <p>In your JS file;</p>
    <pre>
        var onRequest = function (context) {
            sendToClient("request", request);
        };
    </pre>
    <h3>Demo:</h3>
    <pre>
        &lt;script type="text/javascript"&gt;
            var request = {"method":"GET","protocol":"HTTP/1.1","headers":{},"uri":"/pets-store/pets/1","contextPath":"/pets-store","uriWithoutContextPath":"/pets/1","queryParams":{},"contentLength":0};
        &lt;/script&gt;
    </pre>
{{/fillZone}}