<div class="row">
    <div class="col-md-12">
        {{#each devices}}
            <div class="device">
                <span>Name : {{name}}</span>
                <span>Type : {{type}}</span>
            </div>
        {{/each}}
    </div>
</div>
