<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/pet-store/public/org.wso2.uuf.base/base/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/pet-store/public/org.wso2.uuf.base/base/css/theme.css" rel="stylesheet" type="text/css"/>
    <title>WSO2 Template</title>
</head>
<body>

<header class="header header-default">
    <div class="container-fluid">
        <div class="pull-left brand float-remove-xs text-center-xs">
            <a href="/">
                <img src="/pet-store/public/org.wso2.uuf.base/base/images/logo.png" alt="{{config "productName"}}"
                     title="" class="logo"/>
                <h1>{{#config "productName"}}Unified UI Template App{{/config}}</h1>
            </a>
        </div>
        <div class="pull-right auth float-remove-xs text-center-xs">
        </div>
    </div>
</header>
<div class="page-content-wrapper">
    <div class="container-fluid body-wrapper">
        {{defineZone "content"}}
    </div>
</div>

</body>
</html>
