<div class="alert alert-success" role="alert">
    <i class="icon fw fw-success"></i><strong>Success!</strong>
    You successfully read this important alert message.
    <button type="button" class="close" aria-label="close" data-dismiss="alert">
        <span aria-hidden="true">
            <i class="fw fw-cancel"></i>
        </span>
    </button>
</div>