{{layout "org.wso2.carbon.uuf.sample.foundation.ui.main"}}
{{title "unless | Block Helper Sample | " @config.appName}}
{{fragment "org.wso2.carbon.uuf.sample.foundation.ui.highlight" theme=@config.highlightjsTheme}}

{{#fillZone "content"}}
    <h3><b>unless</b> Helper</h3>
    <hr />
    <p>You can use the 'unless' helper as the inverse of the 'if' helper.</p>
    <p>Its block will be rendered if the expression returns a falsy value.</p>
    <figure class="highlight">
        <pre class="code lang-handlebars">
        &lt;div class="entry"&gt;
            \{{#unless license}}
                &lt;h3&gt;WARNING: This entry does not have a license!&lt;/h3&gt;
            \{{/unless}}
        &lt;/div&gt;</pre>
    </figure>

    <p>when used with this context:</p>
    <figure class="highlight">
        <pre class="code lang-javascript">
        function onGet(env) {
            return {
                license: false
            };
        }</pre>
    </figure>

    <p>will result in:</p>
    <figure class="highlight">
        <pre class="code lang-html">
        &lt;div class="entry"&gt;
            WARNING: This entry does not have a license!
        &lt;/div&gt;</pre>
    </figure>

    output:
    <div class="output">
        <div class="entry">
            WARNING: This entry does not have a license!
        </div>
    </div>

    <p>
        If looking up license under the current context returns a falsy value, Handlebars will render the warning.
        Otherwise, it will render nothing.
    </p>
{{/fillZone}}
