{{layout "org.wso2.carbon.uuf.sample.foundation.main"}}
{{title "Abbreviate | String Helper Sample | " @config.appName}}
{{#fillZone "content"}}
    <h3>Abbreviate String Helper.</h3>
    <hr />
    <p> You can truncate a string if it is longer than the specified number of characters.
     Truncated strings will end with a translatable ellipsis sequence ("...").</p>
    <p>Argument: Number of characters to truncate to</p>
    <pre>
        \{{abbreviate value 13 }}
    </pre>
    <p>when you use the template: </p>
    <pre>
        value = "Handlebars rocks";
    </pre>
    <p>will result in:</p>
    <pre>
        "Handlebars..."
    </pre>
    <p></p>
{{/fillZone}}
