{{layout "org.wso2.carbon.uuf.sample.foundation.main"}}
{{title "Capitalize-First | String Helper Sample | " @config.appName}}
{{#fillZone "content"}}
    <h3>Capitalize-First String Helper.</h3>
    <hr />
    <p>You can capitalize the first character of a sentence.</p>
    <pre>
        \{{capFirst value}}
    </pre>
    <p>when you use the template: </p>
    <pre>
        value = "handlebars.java";
    </pre>
    <p>will result in:</p>
    <pre>
        "Handlebars.java"
    </pre>
    <p></p>
{{/fillZone}}
