{{layout "org.wso2.carbon.uuf.sample.foundation.main"}}
{{title "Capitalize | String Helper Sample | " @config.appName}}
{{#fillZone "content"}}
    <h3>Capitalize String Helper.</h3>
    <hr />
    <p> You can capitalize all the whitespace separated words in a String.</p>
    <pre>
        \{{capitalize value [fully=false]}}
    </pre>
    <p>when you use the template: </p>
    <pre>
        value = "my first post";
    </pre>
    <p>will result in:</p>
    <pre>
        "My First Post"
    </pre>
    <p></p>
{{/fillZone}}
