{{layout "org.wso2.carbon.uuf.sample.foundation.main"}}
{{title "Cut | String Helper Sample | " @config.appName}}
{{#fillZone "content"}}
    <h3>Cut String Helper.</h3>
    <hr />
    <p>You can remove all values of arg from the given string.</p>
    <pre>
        \{{cut value [" "]}}
    </pre>
    <p>when you use the template: </p>
    <pre>
        value = "String with spaces";
    </pre>
    <p>will result in:</p>
    <pre>
        "Stringwithspaces"
    </pre>
    <p></p>
{{/fillZone}}
