{{layout "org.wso2.carbon.uuf.sample.foundation.main"}}
{{title "Date Format | String Helper Sample | " @config.appName}}
{{fragment "org.wso2.carbon.uuf.sample.foundation.highlight" theme=@config.highlightjsTheme}}

{{#fillZone "content"}}
    <h3><b>dateFormat</b> Helper</h3>
    <hr />
    <p>Formats the given date.</p>

    <div>
        <figure class="highlight">
            <pre class="code lang-handlebars">\{{dateFormat &lt;date&gt; ["format"] [format="format"][tz=timeZone|timeZoneId]}}</pre>
        </figure>
        <p><b>date</b> - date to be formatted</p>

        <p> You can format date using one of the following format parameters: </p>
        <ul>
            <li><b>full</b> - full date format. For example: Tuesday, June 19, 2012</li>
            <li><b>long</b> - long date format. For example: June 19, 2012</li>
            <li><b>medium</b> - medium date format. For example: Jun 19, 2012</li>
            <li><b>short</b> - short date format. For example: 6/19/12</li>
            <li><b>pattern</b> - a date pattern.
        </ul>
        Otherwise, the default formatter will be used. The format option can be specified as a parameter or hash (a.k.a
        named parameter).
    </div>
{{/fillZone}}
