{{layout "org.wso2.carbon.uuf.sample.foundation.main"}}
{{title "Join | String Helper Sample | " @config.appName}}
{{#fillZone "content"}}
    <h3>Join String Helper.</h3>
    <hr />
    <p>You can join an array, iterator or an iterable with a string.</p>
    <pre>
        \{{join value " // " [prefix=""] [suffix=""]}}
    </pre>
    <p>when you use the template: </p>
    <pre>
        value = ['a', 'b', 'c'];
    </pre>
    <p>will result in:</p>
    <pre>
        "a // b // c"
    </pre>
    <p></p>
{{/fillZone}}
