{{layout "org.wso2.carbon.uuf.sample.foundation.main"}}
{{title "Cut | String Helper Sample | " @config.appName}}
{{#fillZone "content"}}
    <h3>Cut String Helper.</h3>
    <hr />
    <p>You can left-align the value in a field of a given width.</p>
    <pre>
        \{{ljust value 20 [pad=" "] }}
    </pre>
    <p>when you use the template: </p>
    <pre>
        value = "Handlebars.java";
    </pre>
    <p>will result in:</p>
    <pre>
        "Handlebars.java     "
    </pre>
    <p></p>
{{/fillZone}}
