{{layout "org.wso2.carbon.uuf.sample.foundation.main"}}
{{title "Lower | String Helper Sample | " @config.appName}}
{{#fillZone "content"}}
    <h3>Lower String Helper.</h3>
    <hr />
    <p> You can convert a string into all lowercase.</p>
    <pre>
        \{{lower value}}
    </pre>
    <p>when you use the template: </p>
    <pre>
        value = "HELLO";
    </pre>
    <p>will result in:</p>
    <pre>
        "hello"
    </pre>
    <p></p>
{{/fillZone}}
