{{layout "org.wso2.carbon.uuf.sample.foundation.main"}}
{{title "Number Format | String Helper Sample | " @config.appName}}

{{#fillZone "content"}}
    <h3><b>numberFormat</b> Helper</h3>
    <hr />
    <p>Add the current date.</p>

    <div>
        <pre>\{{numberFormat value ["format"] [format="format"][tz=timeZone|timeZoneId]}}</pre>
        <p><b>value</b> - number to be formatted</p>

        <p>Format parameters is one of:</p>
        <ul>
            <li><b>integer</b> - the integer number format</li>
            <li><b>percent</b> - the percent number format</li>
            <li><b>currency</b> - the decimal number format</li>
            <li><b>pattern</b> - a decimal pattern</li>
        </ul>
        <p>Otherwise, the default formatter will be used.</p>
        <h4><b>More options</b></h4>
        <ul>
            <li><b>groupingUsed</b> - set whether or not grouping will be used in this format</li>
            <li><b>maximumFractionDigits</b> - sets the maximum number of digits allowed in the fraction portion of a
                                             number
            </li>
            <li><b>maximumIntegerDigits</b> - sets the maximum number of digits allowed in the integer portion of a
                                            number
            </li>
            <li><b>minimumFractionDigits</b> - sets the minimum number of digits allowed in the fraction portion of a
                                             number
            </li>
            <li><b>minimumIntegerDigits</b> - sets the minimum number of digits allowed in the integer portion of a
                                            number
            </li>
            <li><b>parseIntegerOnly</b> - sets whether or not numbers should be parsed as integers only</li>
            <li><b>roundingMode</b> - sets the {@link java.math.RoundingMode} used</li>
        </ul>
    </div>
{{/fillZone}}
