{{layout "org.wso2.carbon.uuf.sample.foundation.main"}}
{{title "Replace | String Helper Sample | " @config.appName}}
{{#fillZone "content"}}
    <h3>Replace String Helper.</h3>
    <hr />
    <p> You can replace each substring of this string that matches the literal target sequence with the specified literal
    replacement sequence.</p>
    <pre>
        \{{ replace value "..." "rocks" }}
    </pre>
    <p>when you use the template: </p>
    <pre>
        value = "Handlebars ...";
    </pre>
    <p>will result in:</p>
    <pre>
        "Handlebars rocks"
    </pre>
    <p></p>
{{/fillZone}}
