{{layout "org.wso2.carbon.uuf.sample.foundation.main"}}
{{title "Strip-Tags | String Helper Sample | " @config.appName}}
{{#fillZone "content"}}
    <h3>Strip-Tags String Helper.</h3>
    <hr />
    <p> You can strip all [X]HTML tags.</p>
    <pre>
        \{{stripTags value}}
    </pre>
{{/fillZone}}
