{{layout "org.wso2.carbon.uuf.sample.foundation.main"}}
{{title "Strip Tags | String Helper Sample | " @config.appName}}

{{#fillZone "content"}}
    <h3><b>stripTags</b> Helper</h3>
    <hr />
    <p>Strips HTML tags.</p>

    <div>
        <pre>\{{stripTags &lt;value&gt;}}</pre>
        <p><b>value</b> - string to be processed</p>
    </div>
{{/fillZone}}
