{{layout "org.wso2.carbon.uuf.sample.foundation.main"}}
{{title "String-Format | String Helper Sample | " @config.appName}}
{{#fillZone "content"}}
    <h3>String-Format String Helper.</h3>
    <hr />
    <p> You can format the variable according to the argument, a string formatting specifier.</p>
    <pre>
        \{{stringFormat string param0 param1  paramN}}
    </pre>
    <p>when you use the template: </p>
    <pre>
        value = "Hello %s" "handlebars.java";
    </pre>
    <p>will result in:</p>
    <pre>
        "Hello handlebars.java"
    </pre>
    <p></p>
{{/fillZone}}
