{{layout "org.wso2.carbon.uuf.sample.foundation.main"}}
{{title "Upper | String Helper Sample | " @config.appName}}
{{#fillZone "content"}}
    <h3>Upper String Helper.</h3>
    <hr />
    <p> You can convert a string into all uppercase.</p>
    <pre>
        \{{upper value}}
    </pre>
    <p>when you use the template: </p>
    <pre>
        value = "Hello";
    </pre>
    <p>will result in:</p>
    <pre>
        "HELLO"
    </pre>
    <p></p>
{{/fillZone}}
