{{layout "org.wso2.carbon.uuf.sample.foundation.main"}}
{{title "Word-wrap | String Helper Sample | " @config.appName}}
{{#fillZone "content"}}
    <h3>Word-wrap String Helper.</h3>
    <hr />
    <p> You can wrap words at specified line length.</p>
    <p>Argument: number of characters at which to wrap the text</p>
    <pre>
        \{{ wordWrap value 5 }}
    </pre>
    <p>when you use the template: </p>
    <pre>
        value = "Joel is a slug";
    </pre>
    <p>will result in:</p>
    <pre>
        Joel
        is a
        slug
    </pre>
    <p></p>
{{/fillZone}}
