{{layout "org.wso2.carbon.uuf.sample.foundation.ui.main"}}
{{title "Send Error Sample | " @config.appName}}

{{#fillZone "content"}}
    <h3>Send Error.</h3>
    <hr />
    <p>You can immediately halt execution and send a HTTP error code using your executable.</p>
    <p>Syntax : <code>sendError(status, message);</code></p>
    <p>In your JS file;</p>
    <pre>
        function onRequest(env) {
            sendError(409, "The request could not be processed because of conflict in the request.");
        };
    </pre>
    <h3>Demo:</h3>
    <pre>
        function onRequest(env) {
            var sendErrorParams = env.request.queryParams["sendError"];
            if (sendErrorParams) {
                sendError(418, "Yep, I'm a teapot!");
            }
        }
    </pre>
    <a href="{{@contextPath}}/send-error?sendError=true" class="btn btn-info"><b>Click Here To Run Demo</b></a>
{{/fillZone}}
