{{layout "org.wso2.carbon.uuf.sample.foundation.main"}}
{{title "Helpers | " @config.appName}}
{{#fillZone "content"}}
    <h3>Helpers.</h3>
    <hr />
    <ul>
        <li><a href="{{@contextPath}}/helpers/block-helpers">Block Helpers</a></li>
    </ul>
{{/fillZone}}
