.sidebar-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    left: 0;
    height: 100%;
    transition-duration: .3s;
}

/*
.page-sidebar-expanded {
    padding-left: 62px;
}

.header-expanded {
    margin-left: 62px;
}
@media (min-width: 992px) {
}
*/
.page-sidebar-expanded {
    padding-left: 230px;
}

.header-expanded {
    margin-left: 230px;
}

.page-with-sidebar {
    padding-top: 58px;
    transition-duration: .3s;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

header .header-content .title {
    margin: 0;
    font-size: 19px;
    line-height: 58px;
    font-weight: normal;
    color: #4c4e54;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
}

header {
    padding: 0 20px;
    z-index: 100;
    margin-bottom: 0;
    min-height: 58px;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #eee;
}

.title {
    display: inline-block
}

.git-link {
    display: inline-block;
    margin-top: 19px;
    margin-left: 20px;
}

#logo {
    display: block;
    text-indent: -9999px;
    height: 32px;
    width: 93px;
    background: url(../images/uuf-logo.svg);

}