{{#zone "topCss"}}
    <link rel="stylesheet" href="{{self.publicURL}}/less/login-input.css">
{{/zone}}

{{#zone "main"}}
    <form>
        <input type="text" class="form-control" placeholder="User Name" required autofocus>
        <input type="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign in
        </button>
        <label class="checkbox pull-left">
            <input type="checkbox" value="remember-me">
            Remember me
        </label>
        <a href="#" class="pull-right need-help">Create an account</a>
    </form>
{{/zone}}
