{{layout "org.wso2.carbon.uuf.sample.foundation.ui.main"}}
{{title "Block Helpers | " @config.appName}}

{{#fillZone "content"}}
    <h3>Block Helpers</h3>
    <hr />
    <ul>
        <li><a href="{{@contextPath}}/helpers/uuf-helpers/secured">secured</a></li>
    </ul>
{{/fillZone}}
