{{layout "org.wso2.carbon.uuf.sample.foundation.main"}}
{{title "Http Form POST Request Sample | " @config.appName}}
{{#fillZone "content"}}
    <h3>HTTP Form Sample.</h3>
    <hr />
    <form method="post">
        <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" name="name" id="inputName" class="form-control" placeholder="Name" />
        </div>
        <input type="submit" value="Submit" />
    </form>
    {{#if prevName}}
        Submitted name: {{prevName}}
    {{/if}}
{{/fillZone}}