{{layout "org.wso2.uuf.base.main"}}
{{#fillZone "content"}}
    <h2>Welcome to devices store</h2>
    <h4>your new device awaits</h4>
    <hr/>
    <a href="pets">See all our amazing devices</a>
    <br/>
    <a href="pets/new">Add a new devices</a>
    <br/>
    <a href="pets/snowball">Device of the month</a>
{{/fillZone}}