<div class="breadcrumb-wrapper">
    <ol class="breadcrumb">
        <li><a href="/"><i class="icon fw fw-home"></i> <span class="hidden-xs">Home</span></a></li>
        <li class="active"><a href="#">About</a></li>
    </ol>
</div>